.fondo-primero {
    background-color: #ac1014;
}

.fondo-azul {
    background-color: #002f67;
}

.fondo-segundo {
    background-color: #D4A017;
}

.texto-primero {
    color: #0F3D2E;
}

.texto-primero {
    color: #D4A017;
}

.texto-blanco {
    color: white;
}

.texto-segundo {
    color: #e74802;
}

.texto-verde {
    color: #0e6251;
}

.texto-azul {
    color: #002f67;
}

.texto-rojo {
    color: #78281f;
}

.texto-morado {
    color: #4a235a;
}

.tab-activo {
    color: #0F3D2E;
    border-bottom: 3px solid #D4A017;
}

.tab-inactivo {
    color: #6B7280;
    border-bottom: 3px solid transparent;
}