.fondo-primero
{
    background-color: #15803d;
}
.fondo-azul
{
    background-color: #002f67;
}
.fondo-segundo
{
    background-color: #e74802;
}
.texto-primero
{
    color: #15803d;
}
.texto-blanco
{
    color: white;
}
.texto-segundo
{
    color:#e74802;
}
.texto-verde
{
    color:#0e6251;
}
.texto-azul
{
    color: #002f67;
}
.texto-rojo
{
    color: #78281f;
}
.texto-morado
{
    color: #4a235a;
}
